.git
.idea
.vscode
.env
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
.phpunit.result.cache
npm-debug.log
yarn-error.log
